<div class="container mt-3">
<form>

    <div class="form-row">
        <div class="form-group col-md-2">
            <label for="meetingName">Название:</label>
        </div>
        <div class="form-group col-md-6">
            <input type="text" class="form-control" id="meetingName" >
        </div>
        <div class="form-group col-md-4 text-right">
            {% block link %}

            {% endblock %}
        </div>
    </div>


  <div class="form-group">
    <label for="meetingDescription">Описание:</label>

      <div class="input-group">
          <textarea class="form-control" aria-label="With textarea" id="meetingDescription"></textarea>
      </div>
  </div>


    <div class="form-row">
        <div class="form-group col-md-3">
            <label >Тип собрания:</label>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="meetTypeButton" id="meetTypeCheck1" value="option1" onclick="typeCheck()"  checked>
                    <label class="form-check-label" for="meetTypeCheck1">
                        Общедоступное
                    </label>
                </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check">
                    <input class="form-check-input" type="radio" name="meetTypeButton" id="meetTypeCheck2" value="option1" onclick="typeCheck()" >
                    <label class="form-check-label" for="meetTypeCheck2">
                        По приглашению
                    </label>
                </div>
        </div>
        <div class="form-group col-md-3">
            <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="meetTypeButton" id="meetTypeCheck3" value="option1" >
                    <label class="form-check-label" for="meetTypeCheck3">
                        Обязательное
                    </label>
                </div>
        </div>
    </div>
    {% block list_users %}

    {% endblock %}


    <div class="form-group">
        <label >Таблица голосования:</label>
    </div>


    <div class="form-group">
        <table class="table table-bordered">
            <col width="50">
            <thead>
            <tr>
                <th scope="col">Дата/Время</th>
                <th scope="col">12:00</th>
                <th scope="col">13:00</th>
                <th scope="col">14:00</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <th scope="row">1.11</th>
                <td>0</td>
                <td>0</td>
                <td>2</td>
            </tr>
            </tbody>
        </table>
    </div>

    {% block data %}

    {% endblock %}
</form>
</div>