<div class="container mt-3 mb-3" >
    <form class="pt-3">

        <div class="form-row ">
            <div class="form-group col-md-1">
                <label for="meetingName">Название:</label>
            </div>
            <div class="form-group col-md-6">
                <input type="text" class="form-control" id="meetingName" >
            </div>
            <div class="form-group col-md-5 text-right">
                {% block link %}

                {% endblock %}
            </div>
        </div>


        <div class="form-group">
            <label for="meetingDescription">Описание:</label>

            <div class="input-group">
                <textarea class="form-control" aria-label="With textarea" id="meetingDescription"></textarea>
            </div>
        </div>


        <div class="form-row">
            <div class="form-group col-md-2">
                <label >Тип собрания:</label>
            </div>
            <div class="form-group col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="meetTypeButton" id="meetTypeCheck1" value="option1" onclick="typeCheck()"  checked>
                    <label class="form-check-label" for="meetTypeCheck1">
                        Общедоступное
                    </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="radio" name="meetTypeButton" id="meetTypeCheck2" value="option1" onclick="typeCheck()" >
                    <label class="form-check-label" for="meetTypeCheck2">
                        По приглашению
                    </label>
                </div>
            </div>
            <div class="form-group col-md-2">
                <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="meetTypeButton" id="meetTypeCheck3" value="option1" >
                    <label class="form-check-label" for="meetTypeCheck3">
                        Обязательное
                    </label>
                </div>
            </div>
        </div>
        {% block list_users %}

        {% endblock %}


        <div class="form-group">
            <label >Таблица голосования:</label>
        </div>


        <div class="form-group">
            <table class="table table-bordered" id="table">
                <tr>
                    <th >Дата/Время</th>
                    <td >
                        12:00
                        (<span class='duration'></span>)
                        <button type="button" class="close remove-col" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </td>
                </tr>
                <tr>
                    <td >
                        1.11
                        <button type="button" class="close remove-row" aria-label="Close">
                            <span aria-hidden="true" style="align:center;">&times;</span>
                        </button>
                    </td>

                    <th >0</th>
                </tr>


            </table>
        </div>

        {% block data %}

        {% endblock %}
    </form>
</div>