<div class="card mb-4" >
    <div class="card-body">
        <div class="row">

            <h4 class="card-title col">Название</h4>
            <h5 class="card-title col text-right">Тип собрания </h5>
        </div>
        <p class="card-text "> Описание</p>
        <p class="card-text "> Дата создания:</p>

        <div class="row">
            <div class=" col-6">
                Организатор :
            </div>
            <div class="col text-right  mr-0">
                <a href="#" class="btn btn-primary align-self-end" style="width:140px;">Редактировать</a>
            </div>
            <div class="col text-right">
                <a href="{% url 'vote_meeting_url'%}" class="btn btn-primary align-self-end" style="width:140px;">Голосовать</a>
            </div>
        </div>
    </div>
</div>