<div class="card mb-4">
    <div class="card-body">
        <div class="row">

            <h4 class="card-title col-sm">Название</h4>
            <h5 class="card-title col sm text-right">Тип собрания </h5>
        </div>
        <p class="card-text "> Описание</p>
        <p class="card-text "> Дата создания:</p>

        <div class="row">
            <div class=" col">
                Организатор :
            </div>
            <div class="col text-right">
                <a href="{% url 'vote_meeting_url'%}" class="btn btn-primary mr-0">Голосовать</a>
            </div>
        </div>
    </div>
</div>