{% extends 'maket/includes/base_form.html' %}

{% block link %}

<a href="{% url 'template_directory_list_url'%}" class="btn btn-primary " >Отмена</a>

{% endblock %}

{% block data %}
<div class="form-row">
    <div class="form-group col-7">
        <div class="row ">
            <div class="col">
                <span>Начальные значения:</span>
            </div>
        </div>
        <div class="mt-2" style="border-right:2px solid; border-top:2px solid">
            <div class="row mt-2">
                <div class="col-6">
                    <label >Количество дней:</label>
                </div>
                <div class="col-3">
                    <input class="form-control number-input" type="number"  id="numberInputDays" >
                </div>
            </div>

            <div class="row">
                <div class="col-6">
                    <label >Столбцов:</label>
                </div>
                <div class="col-3">
                    <input class="form-control number-input" type="number"  id="numberInputTime">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label >Интервал между днями:</label>
                </div>
                <div class="col-3">
                    <input class="form-control number-input" type="number"  id="numberInputIntDays">
                </div>
            </div>
            <div class="row">
                <div class="col-6">
                    <label >Длительность собрания:</label>
                </div>
                <div class="col-3">
                    <input id="timepickerCrT">
            </div>

            <script>
        $(function () {
            $('#timepickerCrT').timepicker({
                language: 'ru',
            });
        });
    </script>
            </div>
        </div>


    </div>

    <div class="form-group col align-self-end text-right">
        <div class="mb-5">
            <select id="typeTemplSelect" class="custom-select" style="width: 200px" >
                <option value="1" selected>Общий шаблон</option>
                <option value="2">Приватный шаблон</option>
            </select>
        </div>
        <button type="submit" class="btn btn-primary" style="width: 200px">Создать шаблон</button>
    </div>
</div>
{% endblock %}