{% extends 'maket/includes/base_form.html' %}
{% block link %}

<a href="{% url 'template_directory_list_url'%}" class="btn btn-primary" >Использовать шаблон</a>

{% endblock %}


{% block list_users %}
<div class="form-row">
    <div class="form-group col">
        <label for="partySelect">Список участников:</label>
        <select id="partySelect" class="custom-select" disabled style="width:300px">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
    <div class="form-group col">
        <label for="partyAdd">Добавить участников:</label>
        <select id="partyAdd" class="custom-select" disabled style="width:300px">
            <option selected></option>
            <option value="1">One</option>
            <option value="2">Two</option>
            <option value="3">Three</option>
        </select>
    </div>
</div>
{% endblock %}


{% block data %}
<div class="form-row">

    <div class="form-group col">
        <div class="row">
            <div class="col-4">
                <label >Добавить дату:</label>
            </div>
            <div class="col-3">
                <input id="datepickerCrMeet" >
            </div>
            <div class="col-1">
                <button type="button" class="btn btn-success btn-sm add-col">+</button>

            </div>




        </div>

        <div class="row">
            <div class="col-4">
                <label >Добавить время:</label>
            </div>
            <div class="col-3">
                <input id="timepickerCrMeet">

            </div>
            <div class="col-1">
                <button type="button" class="btn btn-success btn-sm add-row">+</button>

            </div>

        </div>

        <div class="row">
            <div class="col-4">
                <label >Длительность:</label>
            </div>

            <div class="col-3">
                <input id="timepickerDuration">

            </div>
            <div class="col-1">
                <button type="button" class="btn btn-success btn-sm add-duration">+</button>

            </div>


        </div>

    </div>

    <div class="form-group col align-self-end text-right">

        <button type="submit" class="btn btn-primary" >Создать собрание</button>
    </div>
</div>
{% endblock %}