<div class="collapse navbar-collapse "  id="navbarNavDropdown">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item">
            <a class="btn" href="{% url 'public_meetings_list_url' %}">Общие собрания</a>
        </li>
        <li class="nav-item">
            <a class="btn" href="{% url 'private_meetings_list_url' %}">Собрания по приглашению</a>
        </li>
        <li class="nav-item">
            <a class="btn btn-success" href="{% url 'create_meeting_url'%}"> Создать собрание</a>
        </li>
        <li class="nav-item">
            <a class="btn" href="{% url 'my_meetings_list_url'%}">Мои собрания</a>
        </li>
    </ul>
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                {% load account %}

                {% user_display user %}
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                <form method="post" action="{% url 'account_logout' %}">
                    {% csrf_token %}
                    {% if redirect_field_value %}
                    <input type="hidden" name="{{ redirect_field_name }}" value="{{ redirect_field_value }}"/>
                    {% endif %}
                    <button class="btn  vote" type="submit">Выход</button>
                </form>
            </div>
        </li>
        <li class="nav-item ">
        </li>
    </ul>

</div>