{% extends 'maket/base.html' %}
{% block content %}
<h3 align="center">
    Вход
</h3>
<form >
    <div class="form-group row mt-3">
        <div class="col-10 offset-1">
            <input type="text" class="form-control" id="inputLogin" placeholder="Login">
        </div>
    </div>
    <div class="form-group row">
        <div class="col-10 offset-1">
            <input type="password" class="form-control" id="inputPassword" placeholder="Пароль">
        </div>
    </div>

    <div class="form-group  text-center">
        <a class="btn btn-dark" href="{% url 'meetings_list_url'%}" >Войти</a>
    </div>
    <div class="form-group text-center">
        <a href="{% url 'register_url'%}">Зарегистрироваться</a>
    </div>


</form>
{% endblock %}