{% extends 'maket/base.html' %}

{% block menu %}
{% if user.is_authenticated %}
{% include 'maket/includes/nav.html' %}

{% else %}

{% include 'maket/includes/nav_sign_log.html' %}

{% endif %}

{% endblock %}
{% block name %}
{% if user.is_authenticated %}
    Общие собрания
{% endif %}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
{% if not publicMeet %}
<h4 align="center"> <p class="text-danger">Общедоступных собраний нет</p> </h4>
{% else %}
{% for col in publicMeet %}
    {% include 'maket/includes/base_card.html' %}
{% endfor %}
{% endif %}
{% endif %}
{% endblock %}