{% extends 'maket/base_auth.html' %}
{% block content %}
<h3 align="center">
    Регистрация
</h3>
<form method="post" >
    {% csrf_token %}
    <div class="form-group row mt-3 ml-1">
            {{form.as_p}}
    </div>
    <div class="form-group  text-center">
        <input class="btn btn-primary" type="submit" value="Зарегистрироваться" style="color:white; width:180px">
    </div>
    <div class="form-group text-center">
        <a  href="{% url 'login_url'%}">Войти</a>
    </div>



</form>
{% endblock %}