{% extends 'maket/base.html' %}
{% load staticfiles %}

{% block menu %}

{% include 'maket/includes/nav.html' %}


{% endblock %}
{% block name %}
{{ collect.name }}
{% endblock %}

{% block content %}

<div class="container mt-3">
    <form>

        <div class="form-group">
            <h4> Тема: {{ collect.theme }}</h4>
        </div>
        <div class="form-group">
            <p> Описание: {{ collect.description }}</p>
        </div>


        <div class="form-group">
            <span> Тип собрания: {{ collect.tpesobr }}</span>
        </div>


        <div class="form-group">
            <span>Таблица голосования:</span>
        </div>


        <div class="form-group">
            <form method="post">
                <table class="table table-bordered vote-table" id="vote-table">
                    <col width="50">
                    <thead>
                    <tr>
                        <th  scope="col">Дата/Время</th>
                        {% for time in time_list %}
                            <th> {{ time.time }}({{ collect.duration|time:"H:i" }})</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>
                    {% for date in date_list %}
                    <tr>
                        <th>{{date.date|date:"d.m"}} </th>
                        {% for time in time_list %}
                            <td></td>

                        {% endfor %}
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </form>
        </div>






        <div class="form-group">
            <span>Организатор:</span> {{ collect.user }}
            <br>
            <span>Дата создания:</span>
        </div>


    </form>
</div>



{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}">
<script src="{% static 'js/vote.js'  %}"></script>
{% endblock %}