{% extends 'maket/base.html' %}
{% load staticfiles %}

{% block menu %}

{% include 'maket/includes/nav.html' %}


{% endblock %}
{% block name %}
Название
{% endblock %}

{% block content %}

<div class="container mt-3">
    <form>

        <div class="form-group">
            <h4> Тема: тема собрания</h4>
        </div>
        <div class="form-group">
            <p> Описание: описание</p>
        </div>


        <div class="form-group">
            <span> Тип собрания: тип собрания</span>
        </div>


        <div class="form-group">
            <span>Таблица голосования:</span>
        </div>


        <div class="form-group">
            <form method="post">
                <table class="table table-bordered vote-table" id="vote-table">
                    <col width="50">
                    <thead>
                    <tr>
                        <th  scope="col">Дата/Время</th>
                        <th scope="col">12:00</th>
                        <th scope="col">13:00</th>
                        <th scope="col">14:00</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <th scope="row">1.11</th>
                        <td class="cell" id="cell" ><input type="submit" value="123" style="width:100%;margin: 0; padding: 0;" ></td>
                        <td id="12" ><input type="hidden"></input></td>
                        <td id="13" ><input type="hidden"></input></td>
                    </tr>
                    </tbody>
                </table>
            </form>
        </div>



        <div class="form-group">
            <span>Организатор:</span>
            <br>
            <span>Дата создания:</span>
        </div>


    </form>
</div>



{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}">
<script src="{% static 'js/vote.js'  %}"></script>
{% endblock %}