{% extends 'maket/base.html' %}
{% load staticfiles %}
{% block menu %}
{% if user.is_authenticated %}
{% include 'maket/includes/nav.html' %}

{% else %}

{% include 'maket/includes/nav_sign_log.html' %}

{% endif %}

{% endblock %}
{% block name %}
{% if user.is_authenticated %}
{{ collect.name }}
{% endif%}
{% endblock %}

{% block content %}
{% if user.is_authenticated %}
<div class="container mt-3">
    <form>

        <div class="form-group">
            <h4> Тема: {{ collect.theme }}</h4>
        </div>
        <div class="form-group">
            <p> Описание: {{ collect.description }}</p>
        </div>


        <div class="form-group">
            <p>Тип собрания: <span class="badge badge-pill badge-info" data-toggle="tooltip" data-placement="right" >{{ collect.tpesobr }}</span></p>
        </div>
         <div class="form-group">
            <p> Длительность собрания: {{ collect.duration|time:'H' }} час(а) {{ collect.duration|time:'i' }} минут(ы)</p>
        </div>


        <div class="form-group">
            <p>Таблица голосования:</p>
        </div>


        <div class="form-group">
            <form method="post">
                {% csrf_token %}
                <table class="table table-bordered vote-table" id="vote-table">
                    <col width="50">
                    <thead>
                    <tr>
                        <th  scope="col">Дата/Время</th>
                        {% for time in time_list %}
                            <th> {{ time.time }}</th>
                        {% endfor %}
                    </tr>
                    </thead>
                    <tbody>

                    {% for date in date_list %}
                    <tr>
                        <th>{{date.date|date:"d.m"}} </th>
                        {% for time in time_list %}

                        <td><form> {% csrf_token %}<input type="hidden" name="vote" value="{{date.date}}#{{time.time}}"><input type="submit"></form></td>

                        {% endfor %}
                    </tr>
                    {%endfor%}
                    </tbody>
                </table>
            </form>
            {{votes}}
        </div>






        <div class="form-group">
            Организатор: {{ collect.user }}
        </div>


    </form>
</div>


{% endif%}
{% endblock %}

{% block js %}
<link rel="stylesheet" href="{% static 'css/vote.css' %}">
<script src="{% static 'js/vote.js'  %}"></script>
{% endblock %}