div.collapse a{
    color: white;

}

div.container{

    font-family: Chasm;
}
a.navbar-brand{
    color: white;
}
nav{
    background-color:#013a5d;
}

nav .dropdown-menu{
    background-color:#013a5d;
}
.card.mb-4{
border-radius: 20px;
}
nav .vote{
    background-color:transparent;
    color: white;
    width: 50 px;
}

table {
    text-align: center;
}

input.number-input{
    height:30px;
}

a.btn-dark, .vote{
background-color:#013a5d;
width:140px;
}
.vote{
background-color:#013a5d;
width:180px;
}


span.badge {
    background-color:#bde5fe;
    border: 1px solid;
    border-color: black;
    color: black;
    cursor: help;
}



