div.collapse a{
    color: white;
}
.card.mb-4{
border-radius: 20px;
}

table {
    text-align: center;
}

input.number-input{
    height:30px;
}



nav.navbar {
    background-color: #999999;
}

span.badge {
    background-color:#f0f0f0;
    border: 1px solid;
    border-color: black;
    color: black;
    cursor: help;
}



